@use "widgets/colors" as *;
@use "widgets/flex-manager" as *;
@use "widgets/font-manager" as *;
footer{
  height: 100px;
  width: auto;
  background-color:$primary-color;
  @include flexView(row);
  justify-content: center;
}
h5{
  margin: 0;
  padding: 20px;
  color: $primary-font-color;
  font-family: $main-font;

}