@use "widgets/colors" as *;
@use "widgets/flex-manager" as *;
@use "widgets/font-manager" as *;
.outer{
  @include flexView(row);
  width: 100%;
  height: 60px;
  background-color:$primary-color;

  .box-left,.right{

    padding: 0 20px;
    flex: 1;
    height: 100%;
    @include flexView(row);
  }

  .box-left{

    h2{

      font-family: $logo-font;
      font-size: $logo-font-size;
      color: $primary-font-color;
      font-weight:fontWeight(medium);
    }
  }
  .right{
    justify-content: flex-end;

  }
  button{
    background-color: $attract-button-color;
    color: $primary-font-color;
    padding: 6px 15px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
  }

}